@font-face {
    font-family: 'Zing Rust';
    src: url('../fonts/FontsFree-Net-ZingRustDemo-Base.otf');
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 1440px;
    margin: 0;
    padding: 0;
}

