.section_1 {
    background-color: $color-darkbrown;
    margin-top: 691px;

    border-top: 0.5px solid $color-gray;    border-bottom: 0.5px solid $color-gray;

    &__title {
        color: $color-white;

        border-left: 4px solid $color-green;
        
        padding-left: 20px;
        margin: 50px 0px 50px 70px;

        // font-family: 'Zing Rust';
        font-size: 35px;
    }

    &__menu {
        cursor: pointer;

        display: inline-block;

        margin-left: 55px;

        .headline {
            margin-top: -40px;
            padding-left: 15px;
        }
    }
}