@import "./_main";
@import "./_variables";
@import "./_header";

@font-face {
    font-family: 'Zing Rust';
    src: url(../fonts/FontsFree-Net-ZingRustDemo-Base.otf);
    font-style: normal; 
    font-weight: normal; 
}